body{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(244, 148, 6);
  background-image: url("/proyectoquizrodrigovelasquez/img/logic.jpeg");
}

/*parte del titulo*/
.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.titulo h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 33px;
  color: rgb(183, 126, 41);
}

/*empieza la caja central*/
.cajon{
  display: flex;
  justify-content: center;
  align-items: center;  
  
}
.caja__inicio h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 28px;
  color: rgb(234, 146, 15);
  padding-left: 23px;
}
.caja{
  width: fit-content; 
  background: linear-gradient(to bottom,rgb(173, 133, 73),rgb(0, 0, 0));
  border-radius: 33px;
  padding: 30px;
}
.caja img{
width: 320px;
height: 280px;
top: 0;    
}

/*formulario*/
form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

input{
padding: 10px;
width: 300px;
outline: none;
border-radius: 20px;

}

label{
color: aliceblue;
font-size: 18px;
padding:  29px;


}
/*boton*/
.colocarboton{
display: flex;
justify-content: center;
align-items: center;
padding-left: 110px;
}


.boton{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(70deg,#ee7504,#efd9e0,#e38717);
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
}



/*efecto boton*/
button {
width: 170px;
height: 40px;

  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsla(236, 32%, 26%, 0);
  padding-bottom: 20px;
  
  
}
button a{
  text-decoration: none;
  color: aliceblue;
}
button:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}



