body{
    width: 100%;
    height: 100%;
    background-image: url(/proyectoquizrodrigovelasquez/img/fondo.mp4);
    margin: 0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: hue-rotate(-30deg);
}


.texto{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    font-size: 30px;
    margin-left: -60px;  
    font-weight: bold;
    color: rgb(16, 77, 152);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, #d3c60e, #ee8002, #04e456, #0015ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: cambio-color 5s infinite alternate;
}
@keyframes cambio-color {
    0% { color: #d3c60e; }
    25% { color:#ee8002; }
    50% { color:  #0015ff; }
    75% { color: #04e456; }
    100% { color: #ff0000; }
}
.circulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 50%; 
    overflow: hidden; 
    margin-top: 60px;
    margin-right: 10px;
}

.circulo img {
    width: 100%; 
    height: auto; 
    border-radius: 50%; 
    object-fit: cover; 
}
